h1 {
    background:#efefef;
    color: red;
    width:100%;
    overflow:auto;
    padding:20px 0 20px 40px;
    margin:0;
}
h1 {
    background:#efefef;
    color: yellow;
    width:100%;
    overflow:auto;
    padding:20px 0 20px 40px;
    margin:0;
}