@import url(//fonts.googleapis.com/css?family=Roboto:500,300,400);

body {
    margin:0;
    font-family:'Roboto', sans-serif;
    font-weight:400;
    color:#333;
}


h1 {
    background:#efefef;
    width:100%;
    overflow:auto;
    padding:20px 0 20px 40px;
    margin:0;
}