# upstream for uWSGI
upstream uwsgi_app {
    server unix:/var/run/uwsgi/uwsgi_app.sock;
}

server {
    listen 80;
    error_log stderr warn;
    access_log /dev/stdout main;
    charset     utf-8;

    location / {
        include      /etc/nginx/uwsgi_params;
        uwsgi_pass   uwsgi_app;
    }

    location /static/ {
        alias /code/static/;
    }
    location /media/ {
        alias /code/media/;
    }
}